:root {
  --bg-primary: #ecf0f1;
  --bg-secondary: #374e66;

  /* Text color */
  --text-primary: #fff;

  /* Font family */
  --font-primary: Verdana, Arial, Helvetica, sans-serif;

  /* Hover color */
  --bg-hover: #8aa00d;
}
